/* styles.css — exercício 02 (grid) */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
    padding: 1rem;
    color: #111;
    background: #f4f6fb;
}

header {
    margin-bottom: 1rem;
    text-align: center;
}

.gallery {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
    /* mobile default */
}

/* Cards */
.card {
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 6px 18px rgba(16, 24, 40, 0.06);
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Tablet */
@media (min-width: 700px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Desktop */
@media (min-width: 1000px) {
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }
}